footer {
  padding: 24px 0;
  border-top: 1px solid #C4C7CA;
  background: #5D8BEE;
}
.footer-wrapper {
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.footer-wrapper a {
  color: #fff;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}

.footer-wrapper .heart {
  background: url(../../images/main_spritesheet.svg) right center no-repeat;
  background-position: -66px -72px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}
