
html,
body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
.intro {
    font-weight: bold;
    color: #323232;
    font-size: 28px;
    margin-bottom: 75px;
}
.intro .hash {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: -65px 0; 
    width: 18px;
    height: 18px;
}
.intro h2 {
    align-items: center;
    padding-top: 5px;
}
.intro p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #9B9B9B;
    margin-top: 24px;
    text-align: center;
}
.intro .small-border {
    height: 2px;
    border-radius: 5px;
    width: 58px;
    background: #3E5FA8;
    margin-top: 10px;
}

.overview-section {
    padding: 100px 0;
    text-align: center;
    align-items: center;
}
.overview-section .details {
    flex-wrap: wrap;
}
.overview-section .detail {
    width: 260px;
    margin: 35px 30px;
}
.overview-section .detail p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #9B9B9B;
    margin-top: 24px;
}
.overview-section .icon.megaphone {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: 0 0; 
    width: 58px;
    height: 57px;
}
.overview-section .icon.components {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: 0 -58px; 
    width: 60px;
    height: 57px;
}
.overview-section .icon.manage {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: 0 -252px; 
    width: 53px;
    height: 57px;
}
.overview-section .icon.kubernetes {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: 0 -130px; 
    width: 52px;
    height: 57px;
}
.overview-section .icon.yaml-doc {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: 0 -196px; 
    width: 45px;
    height: 57px;
}
.overview-section .icon.pull-request {
    background-image: url(../../images/main_spritesheet.svg);
    background-position: 0 -315px; 
    width: 62px;
    height: 57px;
}
.overview-section .documentation-link {
    margin-top: 35px;
}
.overview-section .documentation-link a {
    color: #3E5FA8;
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: solid 1px #3E5FA8;
}
.overview-section .documentation-link a span {
    background: url(../../images/main_spritesheet.svg) right center no-repeat;
    background-position: -66px -27px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px
}

.resources-section {
    padding: 100px 0;
    background: #F8F8F8;
}
.resources-section .card {
  width: 290px;
  box-sizing: border-box;
  background: #fff;
  padding: 24px;
  margin: 0 15px 30px;
  border-radius: 3.5px;
  border: solid 1px #DFDFDF;
  cursor: pointer;
  transition: all .1s ease;
}
.resources-section .card h4 {
    font-weight: bold;
    color: #3E5FA8;
    line-height: 26px;
    font-size: 20px;
}
.resources-section .card p {
    font-weight: 500;
    color: #3E5FA8;
    line-height: 26px;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resources-section .card:hover {
    background: #5D8BEE;
    box-shadow: -2px 2px 5px rgba(0,0,0,.3);
    transition: all .2s ease;
    border: solid 1px #5D8BEE;
}
.resources-section .card:hover h4 {
    color: #fff;
}
.resources-section .card:hover p {
    color: #fff;
}
.resources-section .card:hover .arrow {
    background: url(../../images/main_spritesheet.svg) right center no-repeat;
    background-position: -66px -47px;
    display: inline-block;
    width: 10px;
    height: 10px;
}
.resources-section .card .arrow {
    background: url(../../images/main_spritesheet.svg) right center no-repeat;
    background-position: -66px -27px;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.community-section {
    padding: 100px 0;
}
.community-section .links {
    justify-content: center;
}
.community-section .link {
    text-align: center;
    width: 75px;
    margin: 0 45px;
    cursor: pointer;
    transition: all .1s ease;
}
.community-section .link p {
    font-weight: 500;
    color: #323232;
    font-size: 14px;
    line-height: 17px;
}
.community-section .link .link-icon.slack {
    background: url(../../images/main_spritesheet.svg) right center no-repeat;
    background-position: 8px -374px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: solid 1px #ECECEC;
    border-radius: 50px;
    margin-bottom: 20px; 
}
.community-section .link .link-icon.github {
    background: url(../../images/main_spritesheet.svg) right center no-repeat;
    background-position: 11px -424px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: solid 1px #ECECEC;
    border-radius: 50px;
    margin-bottom: 20px; 
}
.community-section .link .link-icon.envelope {
    background: url(../../images/main_spritesheet.svg) right center no-repeat;
    background-position: 8.5px -517px;
    background-size: 160px auto;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: solid 1px #ECECEC;
    border-radius: 50px;
    margin-bottom: 20px; 
}
.community-section .link:hover .link-icon {
    transition: all .1s ease;
    box-shadow: 0 0 5px rgba(62, 95, 168, .4);
}
@media screen and (max-width: 1024px) {
    .swim-lane-section .line,
    .swim-lane-section .update-circle,
    .swim-lane-section .pull-circle,
    .swim-lane-section .merge-circle {
        display: none;
    }

    .swim-lane-section .lane:nth-of-type(4) {
        border: 0;
    }

    .swim-lane-section .container {
        max-width: 745px;
    }
    .resources-section .cards {
        max-width: 640px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 598px) {
    .header-section .container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header-section .container div:last-of-type {
        width: 100%;
    }

    .header-section .container div:last-of-type p {
        font-size: 14px;
    }

    .header-section .cube-logo {
        margin-left: 45px;
        margin-bottom: 20px;
    }

    .header-section {
        background-position: center -378px;
        background-size: 2347px auto;
    }
    .resources-section .cards {
        justify-content: center;
    }
}

@media screen and (max-width: 498px) {
    .swim-lane-section .lane {
        border: 0;
    }
    .swim-lane-section .container {
        padding-right: 30px;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .swim-lane-section br {
        display: none;
    }
    br {
      display: none;
    }
    .overview-section,
    .resources-section,
    .community-section {
        padding: 75px 15px;
    }
}