{{ partial "header.html" . }}
<main>
      <div class="page-header u-gradient--greenToGreen main-section flex-column flex1 justifyContent--center">
            <div class="container u-marginTop--more">
                <div class="paddingContainer">
                    <div class="flex flex-auto justifyContent--center">
                        <div class="flex-auto u-hidden--mobileTablet">
                            <span class="icon u-guidesHeaderIcon u-marginRight--normal"></span>
                        </div>
                        <div class="flex-auto u-widthMobile--full">
                            <h3 class="u-color--white u-fontWeight--bold u-fontSize--header">Documentation</h3>
                            <p class="u-fontSize--normal u-fontWeight--medium u-color--white u-marginTop--small u-lineHeight--normal">Everything you need to know to get up and running with Ship.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="docs-sections container">
            <section class="config-section flex justifyContent--spaceBetween u-borderBottom--gray u-paddingTop--most u-paddingBottom--most">
                <div class="category-info flex flex-column flex1 alignItems--center u-marginRight--most">
                    <div class="icon u-replicatedCircle"></div>
                    <h2 class="u-fontSize--jumbo u-fontWeight--medium u-marginTop--more u-marginBottom--more">Configure</h2>
                    <p class="u-fontSize--large u-color--dustyGray u-textAlign--center u-lineHeight--normal u-marginBottom--more">Let us be the first to welcome you! We’ll start with core concepts and terminology and then get you set up to create and license your first application.</p>
                    <a href="/docs/deploying-manually/" class="Button secondary">Get Started</a>
                </div>
                <div class="docs-list flex1">
                    {{ range $index, $element := .Site.Taxonomies.categories.configuring }}
                        <a href="{{ .Permalink }}" class="u-display--block u-borderBottom--gray">
                            <div class="doc flex">
                                <div class="index">{{ (add $index 1) }}</div>
                                <div>
                                    <h3 class="u-fontSize--larger u-fontWeight--medium u-color--tuna">{{ .Title }}</h3>
                                    <p class="u-fontSize--normal u-fontWeight--normal u-color--dustyGray u-marginTop--normal">{{ .Description }}</p>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </section>
            <section class="test-section flex justifyContent--spaceBetween u-borderBottom--gray u-paddingTop--most u-paddingBottom--most">
                <div class="category-info flex flex-column flex1 alignItems--center u-marginRight--most">
                    <div class="icon u-replicatedCircle"></div>
                    <h2 class="u-fontSize--jumbo u-fontWeight--medium u-marginTop--more u-marginBottom--more">Testing</h2>
                    <p class="u-fontSize--large u-color--dustyGray u-textAlign--center u-lineHeight--normal u-marginBottom--more">Let us be the first to welcome you! We’ll start with core concepts and terminology and then get you set up to create and license your first application.</p>
                    <a href="/docs/automated-testing/" class="Button secondary">Get Started</a>
                </div>
                <div class="docs-list flex1">
                    {{ range $index, $element := .Site.Taxonomies.categories.testing }}
                        <a href="{{ .Permalink }}" class="u-display--block u-borderBottom--gray">
                            <div class="doc flex">
                                <div class="index">{{ (add $index 1) }}</div>
                                <div>
                                    <h3 class="u-fontSize--larger u-fontWeight--medium u-color--tuna">{{ .Title }}</h3>
                                    <p class="u-fontSize--normal u-fontWeight--normal u-color--dustyGray u-marginTop--normal">{{ .Description }}</p>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </section>
            <section class="deploy-section flex justifyContent--spaceBetween u-borderBottom--gray u-paddingTop--most u-paddingBottom--most">
                 <div class="category-info flex flex-column flex1 alignItems--center u-marginRight--most">
                    <div class="icon u-replicatedCircle"></div>
                    <h2 class="u-fontSize--jumbo u-fontWeight--medium u-marginTop--more u-marginBottom--more">Deploying</h2>
                    <p class="u-fontSize--large u-color--dustyGray u-textAlign--center u-lineHeight--normal u-marginBottom--more">Let us be the first to welcome you! We’ll start with core concepts and terminology and then get you set up to create and license your first application.</p>
                    <a href="/docs/automated-deployment/" class="Button secondary">Get Started</a>
                </div>
                <div class="docs-list flex1">
                    {{ range $index, $element := .Site.Taxonomies.categories.deploying }}
                        <a href="{{ .Permalink }}" class="u-display--block u-borderBottom--gray">
                            <div class="doc flex">
                                <div class="index">{{ (add $index 1) }}</div>
                                <div>
                                    <h3 class="u-fontSize--larger u-fontWeight--medium u-color--tuna">{{ .Title }}</h3>
                                    <p class="u-fontSize--normal u-fontWeight--normal u-color--dustyGray u-marginTop--normal">{{ .Description }}</p>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </section>
            <section class="deploy-section flex justifyContent--spaceBetween u-borderBottom--gray u-paddingTop--most u-paddingBottom--most">
                 <div class="category-info flex flex-column flex1 alignItems--center u-marginRight--most">
                    <div class="icon u-replicatedCircle"></div>
                    <h2 class="u-fontSize--jumbo u-fontWeight--medium u-marginTop--more u-marginBottom--more">Updating</h2>
                    <p class="u-fontSize--large u-color--dustyGray u-textAlign--center u-lineHeight--normal u-marginBottom--more">Let us be the first to welcome you! We’ll start with core concepts and terminology and then get you set up to create and license your first application.</p>
                    <a href="/docs/automated-deployment/" class="Button secondary">Get Started</a>
                </div>
                <div class="docs-list flex1">
                    {{ range $index, $element := .Site.Taxonomies.categories.deploying }}
                        <a href="{{ .Permalink }}" class="u-display--block u-borderBottom--gray">
                            <div class="doc flex">
                                <div class="index">{{ (add $index 1) }}</div>
                                <div>
                                    <h3 class="u-fontSize--larger u-fontWeight--medium u-color--tuna">{{ .Title }}</h3>
                                    <p class="u-fontSize--normal u-fontWeight--normal u-color--dustyGray u-marginTop--normal">{{ .Description }}</p>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </section>
            <section class="update-section flex justifyContent--spaceBetween u-borderBottom--gray u-paddingTop--most u-paddingBottom--most">
                <div class="category-info flex flex-column flex1 alignItems--center u-marginRight--most">
                    <div class="icon u-replicatedCircle"></div>
                    <h2 class="u-fontSize--jumbo u-fontWeight--medium u-marginTop--more u-marginBottom--more">Best Practices</h2>
                    <p class="u-fontSize--large u-color--dustyGray u-textAlign--center u-lineHeight--normal u-marginBottom--more">Let us be the first to welcome you! We’ll start with core concepts and terminology and then get you set up to create and license your first application.</p>
                    <a href="/docs/manage-state/" class="Button secondary">Get Started</a>
                </div>
                <div class="docs-list flex1">
                    {{ range $index, $element := (index $.Site.Taxonomies.categories "best-practices").Pages }}
                        <a href="{{ .Permalink }}" class="u-display--block u-borderBottom--gray">
                            <div class="doc flex">
                                <div class="index">{{ (add $index 1) }}</div>
                                <div>
                                    <h3 class="u-fontSize--larger u-fontWeight--medium u-color--tuna">{{ .Title }}</h3>
                                    <p class="u-fontSize--normal u-fontWeight--normal u-color--dustyGray u-marginTop--normal">{{ .Description }}</p>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </section>
        </div>
</main>
{{ partial "footer.html" . }}