<div id="community" class="flex flex-column community-section u-gradient--whiteToGray">
        <div class="flex flex-column flex1 container">
            <div class="flex1 flex flex-column alignItems--center intro">
                <div class="hash"></div>
                <h2>Community</h2>
                <div class="small-border"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</br>
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="links flex">
                <a href="htttp://google.com" target="_blank">
                  <div class="link">
                    <div class="link-icon slack"></div>
                    <p>K8s slack</br>
                       #kustomize
                    </p>
                </div>
              </a>
              <a href="" target="_blank">
                <div class="link">
                    <div class="link-icon github"></div>
                    <p>GitHub</p>
                </div>
              </a>
              <a href="" target="_blank">
                <div class="link">
                    <div class="link-icon envelope"></div>
                    <p>Official</br>
                       Mailing List
                    </p>
                </div>
              </a>
            </div>
        </div>
    </div>
