  <div class="documentation content main-section">
    <div class="container">
      <div class="docs-ref-wrapper">
        <div class="docs-ref-list paddingContainer">
          <h1 class="u-fontSize--jumbo u-fontWeight--bold u-textAlign--center u-marginBottom--normal">Documentation reference</h1>
          <p class="u-fontSize--large u-color--dustyGray u-textAlign--center">Learn how to perform some common tasks with a Ship application.</p>
          <div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Configuring</p>
              <ul>
                  <li>
                    <a href="/docs/initial-configuration" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Initial Configuration</a>
                  </li>
                </ul>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Testing</p>
              <ul>
                  <li>
                    <a href="/docs/automated-testing" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Automated Testing</a>
                  </li>
                </ul>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Deploying</p>
              <ul>
                  <li>
                    <a href="/docs/automated-deployment" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Automated Deployment</a>
                  </li>
                  <li>
                    <a href="/docs/automated-deployment-kubernetes-app" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Automated Deployment of a Kubernetes Application</a>
                  </li>
                </ul>
            </div>
          </div><!--

          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Updating</p>
              <ul>
                  <li>
                    <a href="/docs/automated-updates-circleci" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Updates with CI/CD</a>
                  </li>
                  <li>
                    <a href="/docs/automated-updates-ansible" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Using Ansible</a>
                  </li>
                </ul>
            </div>
          </div><!--

          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Best Practices</p>
              <ul>
                  <li>
                    <a href="/docs/manage-state" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Managing State</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
