<div class="guides-sub-nav">
    <div class="flex u-position--relative">
        <div class="arrow"></div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Configuring</h3>
            <div class="guide">
                <a href="/docs/initial-configuration">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Initial Configuration</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Configuring an application for the first deployment</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Testing</h3>
            <div class="guide">
                <a href="/docs/automated-testing">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Automated Testing</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">How to test a Ship application</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Deploying</h3>
            <div class="guide">
                <a href="/docs/automated-deployment">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Automated Deployment</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">How to automate the deployment of a Ship application.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/docs/automated-deployment-kubernetes-app">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Automatically Deploying to Kubernetes</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Set up a continuous delivery process to automate updates of a Kubernetes application.</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column u-position--relative">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Best Practices</h3>
            <div class="guide">
                <a href="/docs/manage-state">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Managing State</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Securely store and manage the Ship state file.</p>
                </a>
            </div>
            <div class="see-more flex alignItems--center u-position--absolute">
                <a href="/docs" class="u-fontWeight--medium u-fontSize--normal u-color--curiousBlue u-paddingRight--normal">See all docs</a>
                <span class="icon u-chevronIcon"></span>
            </div>
        </div>
    </div>
</div>
