<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Kustomize - Kubernetes native configuration management</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
	<meta name="google-site-verification" content="5wDAbRRvyn5BrnLIgvApbtwWI8S1AdpHISelWzodRtg" />
	<link rel="stylesheet" href='{{ .Site.BaseURL }}css/{{ index .Site.Data "manifest-css" "style.css" }}'>
	<link rel="stylesheet" href='{{ .Site.BaseURL }}css/featherlight.min.css'>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight/prism.css">
	<meta name="google-site-verification" content="oa0WUjkbLgS-LwlcLjCKhIDkPB-_rDHHdorazx8lO1M" />
	{{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}
	{{ .Hugo.Generator }}
</head>
<body>
	<header>
		<nav>
			<div class="container u-position--relative">
				<span id="toggleNav" class="u-show--mobileTablet icon u-cursor--pointer"></span>
				<ul class="flex justifyContent--spaceBetween alignItems--center nav-list u-position--relative">
					<li>
						<a class="logo-link" href="{{ .Site.BaseURL }}">
							<div class="logo"></div>
						</a>
					</li>
					<li>
						<ul id="headerLinks" class="header-links">
							{{ range .Site.Menus.main }}
								<li><a href="{{ .URL | relURL }}" class="header-link">{{ .Name }}</a></li>
							{{ end }}
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div class="header-content container flex justifyContent--spaceBetween alignItems--center u-position--relative">
			<div class="flex flex-column">
				<h1>Kubernetes native </br>
					configuration management
				</h1>
				<p>Kustomize introduces a template-free way to customize application configuration that simplifies the use of off-the-shelf applications. Now, built into <code>kubectl</code> as <code>apply -k</code>.
				</p>
				<div class="flex buttons">
					<a href="https://kubectl.docs.kubernetes.io/pages/app_management/introduction.html" class="Button primary darkBlue">Use with kubectl</a>
					<a href="https://kubernetes.io/blog/2019/03/25/kubernetes-1-14-release-announcement/" class="Button secondary white">Read about K8s 1.14</a>
				</div>
			</div>
			<div class="template-illustration flex1">
				<img src="{{ .Site.BaseURL }}images/header_templates.png"/>
			</div>
		</div>
	</header>
