<div id="projects" class="flex flex-column overview-section u-gradient--whiteToGray">
  <div class="flex flex-column flex1 container">
    <div class="flex1 flex flex-column alignItems--center intro">
      <div class="hash"></div>
      <h2>Projects Integrating Kustomize</h2>
      <div class="small-border"></div>
      <p>Since the introduction of Kustomize, several additional projects have emerged with deep Kustomize integrations:
      </p>
    </div>
    <div class="details flex justifyContent--center">
      <a href="https://kots.io/" target="_blank">
        <div class="detail">
          <div class="icon kots"></div>
          <p>
            Kots
          </p>
        </div>
      </a>
      <a href="https://github.com/argoproj/argo-cd" target="_blank">
        <div class="detail">
          <div class="icon argocd"></div>
          <p>
            ArgoCD
          </p>
        </div>
      </a>
      <a href="https://github.com/weaveworks/flux" target="_blank">
        <div class="detail">
          <div class="icon flux"></div>
          <p>
            Flux
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<hr />