<div id="overview" class="flex flex-column overview-section u-gradient--whiteToGray">
    <div class="flex flex-column flex1 container">
        <div class="flex1 flex flex-column alignItems--center intro">
            <div class="hash"></div>
            <h2>Overview</h2>
            <div class="small-border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="details flex justifyContent--center">
            <div class="detail">
                <div class="icon megaphone"></div>
                <p>
                    Purely declarative approach to
                    configuration customization
                </p>
            </div>
            <div class="detail">
                <div class="icon components"></div>
                <p>
                    No in-cluster components
                </p>
            </div>
            <div class="detail">
                <div class="icon manage"></div>
                <p>
                    Manage an arbitrary number of
                    distinctly customized Kubernetes
                    configurations
                </p>
            </div>
            <div class="detail">
                <div class="icon kubernetes"></div>
                <p>
                    Use only Kubernetes API
                    resource files
                </p>
            </div>
            <div class="detail">
                <div class="icon yaml-doc"></div>
                <p>
                   Every artifact that kustomize uses
                   is plain YAML and can be validated
                   and processed as such
                </p>
            </div>
            <div class="detail">
                <div class="icon pull-request"></div>
                <p>
                   Kustomize encourages a
                   fork/modify/rebase workflow
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="documentation-link">
            <a href="" target="_blank">See Documentation<span></span></a>
        </div>
    </div>
</div>
