<div id="overview" class="flex flex-column overview-section u-gradient--whiteToGray">
    <div class="flex flex-column flex1 container">
        <div class="flex1 flex flex-column alignItems--center intro">
            <div class="hash"></div>
            <h2>Overview</h2>
            <div class="small-border"></div>
            <p>Kustomize traverses a Kubernetes manifest to
              add, remove or update configuration options without forking. It is
              available both as a standalone binary and as a native feature of <code>kubectl</code>.
            </p>
        </div>
        <div class="details flex justifyContent--center">
            <div class="detail">
                <div class="icon megaphone"></div>
                <p>
                    Purely declarative approach to
                    configuration customization
                </p>
            </div>
            <div class="detail">
                <div class="icon components"></div>
                <p>
                    Natively built into <code>kubectl</code>
                </p>
            </div>
            <div class="detail">
                <div class="icon manage"></div>
                <p>
                    Manage an arbitrary number of
                    distinctly customized Kubernetes
                    configurations
                </p>
            </div>
            <div class="detail">
                <div class="icon kubernetes"></div>
                <p>
                    Available as a standalone
                    binary for extension and
                    integration into other services
                </p>
            </div>
            <div class="detail">
                <div class="icon yaml-doc"></div>
                <p>
                   Every artifact that kustomize uses
                   is plain YAML and can be validated
                   and processed as such
                </p>
            </div>
            <div class="detail">
                <div class="icon pull-request"></div>
                <p>
                   Kustomize encourages a
                   fork/modify/rebase workflow
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="documentation-link">
            See Documentation: <a href="https://kubectl.docs.kubernetes.io/pages/app_management/introduction.html" target="_blank">apply -k</a> | <a href="https://github.com/kubernetes-sigs/kustomize/tree/master/docs" target="_blank">standalone</a>
        </div>
    </div>
</div>
