<div id="resources" class="flex flex-column resources-section u-gradient--whiteToGray">
        <div class="flex flex-column flex1 container">
            <div class="flex1 flex flex-column alignItems--center intro">
                <div class="hash"></div>
                <h2>Resources</h2>
                <div class="small-border"></div>
                <p>The best blog posts, presentations and useful links related to Kustomize.
                </p>
            </div>
            <div class="cards flex flexWrap--wrap">
              <a href="https://kubernetes.io/blog/2018/05/29/introducing-kustomize-template-free-configuration-customization-for-kubernetes/" target="_blank">
                <div class="card">
                    <h4>Launch Announcement
                    </h4>
                    <p>Template-free Configuration Customization
                      for Kubernetes<span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/declarative-application-management.md" target="_blank">
                <div class="card">
                    <h4>Background Whitepaper
                    </h4>
                    <p>Declaritive application management. - Brian Grant<span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://github.com/kubernetes-sigs/kustomize/tree/master/examples" target="_blank">
                <div class="card">
                    <h4>Examples
                    </h4>
                    <p>helloWorld, mySql, wordpress and others. <span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://speakerdeck.com/spesnova/introduction-to-kustomize?slide=7" target="_blank">
                <div class="card">
                    <h4>Overview Slides
                    </h4>
                    <p>A great overview of key Kustomize concepts.<span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://github.com/kubernetes-sigs/kustomize/blob/master/docs/glossary.md" target="_blank">
                <div class="card">
                    <h4>Glossary
                    </h4>
                    <p>A list of common terms in the Kustomize world.<span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://testingclouds.wordpress.com/2018/07/20/844/" target="_blank">
                <div class="card">
                    <h4>Use Case
                    </h4>
                    <p>Customizing upstream Helm </br>
                      charts with Kustomize<span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://youtu.be/WWJDbHo-OeY" target="_blank">
                <div class="card">
                    <h4>Video
                    </h4>
                    <p>Kubernetes Configuration </br>
                      Customization by Jeff Regan<span class="arrow"></span></p>
                </div>
              </a>
              <a href="https://youtu.be/pRG47EQ5OAg" target="_blank">
                <div class="card">
                    <h4>Video
                    </h4>
                    <p>Stop Forking Helm Charts </br>
                      by Marc Campbell<span class="arrow"></span></p>
                </div>
              </a>

            </div>
        </div>
    </div>
