<div id="resources" class="flex flex-column resources-section u-gradient--whiteToGray">
        <div class="flex flex-column flex1 container">
            <div class="flex1 flex flex-column alignItems--center intro">
                <div class="hash"></div>
                <h2>Resources</h2>
                <div class="small-border"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</br>
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="cards flex">
              <a href="https://kubernetes.io/blog/2018/05/29/introducing-kustomize-template-free-configuration-customization-for-kubernetes/" target="_blank">
                <div class="card">
                    <h4>Launch</br>
                        Announcement
                    </h4>
                    <p>Lorem ipsum dolor sit amet<span class="arrow"></span></p>
                </div>
              </a>
              <a href="" target="_blank">
                <div class="card">
                    <h4>Background</br>
                        White paper
                    </h4>
                    <p>Lorem ipsum dolor sit amet<span class="arrow"></span></p>
                </div>
              </a>
              <a href="" target="_blank">
                <div class="card">
                    <h4>See</br>
                        Examples
                    </h4>
                    <p>Lorem ipsum dolor sit amet<span class="arrow"></span></p>
                </div>
              </a>
            </div>
            <div class="cards flex">
              <a href="" target="_blank">
                <div class="card">
                    <h4>Overview</br>
                        Slides
                    </h4>
                    <p>Lorem ipsum dolor sit amet<span class="arrow"></span></p>
                </div>
              </a>
              <a href="" target="_blank">
                <div class="card">
                    <h4>See</br>
                        Glossary
                    </h4>
                    <p>Lorem ipsum dolor sit amet<span class="arrow"></span></p>
                </div>
              </a>
            </div>
        </div>
    </div>
