{{ $currentPage := . }}
{{ $currentSection := .CurrentSection }}
{{ $scope :=  .CurrentSection.Parent.Title }}
{{ $category := .CurrentSection.Title }}
        <div class="dropdown u-marginBottom--more">
                <p class="u-fontWeight--bold u-fontSize--largest u-color--tuna u-paddingBottom--normal">Documentation</p>
                <p class="u-fontSize--large u-fontWeight--medium u-cursor--pointer flex justifyContent--spaceBetween alignItems--center" id="dropdown-link">
                    {{ if $scope }}
                        <span>{{ $scope | title }}</span>
                    {{ else }}
                        <span>{{ $category | title }}</span>
                    {{ end }}
                    <span class="icon u-chevronIcon u-margingRight--small"></span>
                </p>
                <div class="menu" id="scheduler-dropdown-menu" style="display: none">
                    <div class="u-paddingTop--small u-fontSize--normal u-fontWeight--bold u-color--curiousBlue u-paddingLeft--small">
                        <a href="/docs/native/getting-started/overview" class="u-color--curiousBlue">Replicated Ship</a>
                        <div class="u-marginTop--small">
                            <a href="/docs/ship-yaml/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                                <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Ship YAML</p>
                            </a>
                            <a href="/docs/ship-init/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                                <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Ship Init</p>
                            </a>
                            <a href="/docs/ship-watch/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                                <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Ship Watch</p>
                            </a>
                            <a href="/docs/ship-update/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                                <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Ship Update</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="desktop-only">
            {{ if eq $scope "Ship Init" }}
            <div class="u-marginBottom--most">
                {{ with .Site.GetPage "section" "docs" "ship-init" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Ship YAML" }}
            <div class="u-marginBottom--most">
                {{ with .Site.GetPage "section" "docs" "ship-yaml" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Ship Watch" }}
            <div class="u-marginBottom--most">
                {{ with .Site.GetPage "section" "docs" "ship-watch" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Ship Update" }}
            <div class="u-marginBottom--most">
                {{ with .Site.GetPage "section" "docs" "ship-update" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
