<section class="swim-lane-section">
    <div class="container">
        <h1 class="u-fontSize--jumbo u-fontWeight--bold u-marginBottom--normal u-textAlign--center">
            Deploy and operate 3rd party software the <br/>
            same way you manage your own software
        </h1>
        <p class="u-fontSize--large u-color--dustyGray u-textAlign--center u-lineHeight--more">
            Applications using Replicated Ship are compatible with a modern, <br />
            automated deployment and operation workflow.
        </p>
        <div class="flex flexWrap--wrap u-marginTop--most justifyContent--center u-position--relative">
            <div class="line u-position--absolute"></div>
            <div class="lane flex flex-column justifyContent--spaceBetween alignItems--center">
                <p class="u-fontSize--normal u-color--dustyGray u-textAlign--center u-lineHeight--normal">Software vendor ships an update to their application</p>
                <div class="img configure-img"></div>
                <p class="u-fontSize--large u-color--tuna u-fontWeight--bold u-textAlign--center">Configure</p>
            </div>
            <div class="merge-circle"></div>
            <div class="lane flex flex-column justifyContent--spaceBetween alignItems--center">
                <p class="u-fontSize--normal u-color--dustyGray u-textAlign--center u-lineHeight--normal">Automatically build, test and deploy to a test environment</p>
                <div class="img build-img"></div>
                <p class="u-fontSize--large u-color--tuna u-fontWeight--bold u-textAlign--center">Build and test</p>
            </div>
            <div class="pull-circle"></div>
            <div class="lane flex flex-column justifyContent--spaceBetween alignItems--center">
                <p class="u-fontSize--normal u-color--dustyGray u-textAlign--center u-lineHeight--normal">Latest version running in enterprise airgapped environment</p>
                <div class="img deploy-img"></div>
                <p class="u-fontSize--large u-color--tuna u-fontWeight--bold u-textAlign--center">Deploy to production</p>
            </div>
            <div class="update-circle"></div>
            <div class="lane flex flex-column justifyContent--spaceBetween alignItems--center">
                <p class="u-fontSize--normal u-color--dustyGray u-textAlign--center u-lineHeight--normal">Latest version running in enterprise airgapped environment</p>
                <div class="img update-img"></div>
                <p class="u-fontSize--large u-color--tuna u-fontWeight--bold u-textAlign--center">Update Release</p>
            </div>
        </div>
    </div>
</section>
