<div class="flex flex1 flex-column tutorial-section bg-light u-width--full">
    <div class="flex flex-column flex1 container">
        <div class="flex1 flex flex-column alignItems--center intro">
            <div class="hash"></div>
            <h2>Tutorial</h2>
            <div class="small-border"></div>
            <p>
                Learn basic Kustomize patch syntax and kustomization  yaml creation. Download your new directory and <code>kubectl apply -k</code> it to your cluster. <span class="underline"><a href="{{ .Site.BaseURL }}/tutorial">Try it</a></span>
            </p>
        </div>
        <a href="{{ .Site.BaseURL }}/tutorial">
            <img class="tutorial-img" src="{{ .Site.BaseURL }}images/tutorial-img.png">
        </a>
    </div>
</div>