<div id="meetup" class="flex flex-column community-section u-gradient--whiteToGray">
        <div class="flex flex-column flex1 container">
            <div class="flex1 flex flex-column alignItems--center intro">
                <div class="hash"></div>
                <h2>Meetup & Conference Talks</h2>
                <div class="small-border"></div>
                <p>These presentations are from various Kustomize meetups and conferences.
                </p>
            </div>
            <div class="links flex">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1fCAwFGX38U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="links flex" style="margin-top:50px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WWJDbHo-OeY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="links flex" style="margin-top:50px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pRG47EQ5OAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="links flex" style="margin-top:50px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ahMIBxufNR0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="links flex" style="margin-top:50px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NFnpUlt0IuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr/>
