.u-gradient--greenToGreen {
  background: rgba(73,183,104,100);
  background: -moz-linear-gradient(-45deg, rgba(73,183,104,100) 0%, rgba(96,216,130,100) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, (73,183,104,100)), color-stop(100%, rgba(96,216,130,100)));
  background: -webkit-linear-gradient(-45deg, rgba(73,183,104,100) 0%, rgba(96,216,130,100) 100%);
  background: -o-linear-gradient(-45deg, rgba(73,183,104,100) 0%, rgba(96,216,130,100) 100%);
  background: -ms-linear-gradient(-45deg, rgba(73,183,104,100) 0%, rgba(96,216,130,100) 100%);
  background: linear-gradient(135deg, rgba(73,183,104,100) 0%, rgba(96,216,130,100) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0000', endColorstr='#ff0000', GradientType=1 );
}
